/* COR PRINCIPAL */
body {
    background: #c9a402;
}

/* Conteúdo principal */
.conteudo {
    margin-left: 270px;
    padding: 20px;
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* GALERIA */
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: #000;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.card p {
    color: #fff;
    margin-top: 10px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .conteudo {
        margin-left: 190px;
    }

    .galeria {
        grid-template-columns: 1fr;
    }
}

/* LIGHTBOX */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#lightbox.ativo {
    display: flex;
}

#lightbox img {
    max-width: 85%;
    max-height: 85%;
    border-radius: 10px;
}

/* Botões */
.lightbox-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 45px;
    padding: 15px 20px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

#btn-prev {
    left: 25px;
}

#btn-next {
    right: 25px;
}
/* LIGHTBOX FUNDO */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

#lightbox.ativo {
    display: flex;
}

/* IMAGEM */
#lightbox-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

/* BOTÕES */
.lightbox-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    border: none;
    font-size: 50px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    z-index: 1000000; /* impede conflito */
}

#btn-prev {
    left: 40px;
}

#btn-next {
    right: 40px;
}

/* BOTÃO HOVER */
.lightbox-btn:hover {
    background: rgba(0,0,0,0.9);
}
