body {
    background: #c9a402;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.galeria div {
    background: #000;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.galeria img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}

/* LIGHTBOX */
#lightbox {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.9);
    display:none;
    justify-content:center;
    align-items:center;
}
#lightbox img {
    max-width:90%;
    max-height:90%;
}
