body {
    background: #c9a402;
}

/* Caixa do vídeo */
.video-box {
    background: #000;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
}

.video-box iframe {
    width: 100%;
    height: 400px;
    border: none;
}
